%ul.nav.navbar-nav.navbar-right{class: user_signed_in? ? "signed-in-navbar" : ""}

  - if !current_user
    %li
      = link_to "Sign in",new_user_session_path
    %li
      = link_to "Sign up",new_user_registration_path
  -else
    %li.dropdown
      / %a.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      /   = image_tag(current_user.image.thumb.url)#image_tag(current_user.image.url)
      /   = current_user.full_name
      / %ul.dropdown-menu
      /   %li
      /     = link_to "Edit Profile",edit_user_registration_path
      /   %li.divider{:role => "separator"}

      /   %li
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %i.fa.fa-user.fa-fw
        %i.fa.fa-caret-down
      %ul.dropdown-menu.dropdown-user
        %li
          %a{:href => "#"}
            %i.fa.fa-user.fa-fw
            User Profile
        / %li
        /   %a{:href => "#"}
        /     %i.fa.fa-gear.fa-fw
        /     Settings
        %li.divider
        %li
          = link_to destroy_user_session_path,method: :delete do
            %i.fa.fa-sign-out.fa-fw
            Logout